---
import type { Lang } from "../bin/language";

import LanguageSwitcher from "./LanguageSwitcher.astro";

import siteData from "../data/site_data.json";

export interface Props {
  title: string;
  language: Lang;
}

const { title, language } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="fixed inset-x-0 top-0 z-30 flex justify-center h-12 md:h-16">
  <header
    class="flex justify-between w-full max-w-6xl px-6 border-2 border-b-2 border-transparent"
  >
    <a
      href="/"
      class="px-4 -ml-4 flex items-center text-lg hover:bg-gray-100/10"
    >
      <strong>{title}</strong>
    </a>

    <nav class="hidden lg:flex">
      {
        siteData.navigation.routes.map((route, i) => (
          <a
            href={`/${language}/${route}`}
            class={
              currentPath === `${language}/${route}`
                ? "link link__active"
                : "link"
            }
          >
            <span>{siteData.navigation.links[language][i]}</span>
          </a>
        ))
      }
    </nav>

    <LanguageSwitcher language={language} />
  </header>
</div>

<script>
  import darkLeather from "../images/dark_leather.png";

  const header: HTMLElement = document.querySelector("header")!;
  let headerStylesUpdated: boolean = window.scrollY !== 0;

  function handleScroll() {
    const onTop: boolean = window.scrollY === 0;

    if (onTop) {
      header.classList.remove("border-gray-800");
      header.classList.remove("shadow-2xl");
      header.style.backgroundImage = `none`;

      headerStylesUpdated = false;
    }

    if (!onTop && !headerStylesUpdated) {
      header.classList.add("border-gray-800");
      header.classList.add("shadow-2xl");
      header.style.backgroundImage = `url(${darkLeather.src})`;

      headerStylesUpdated = true;
    }
  }

  window.addEventListener("scroll", handleScroll);
</script>

<style>
  .link {
    @apply flex items-center px-4 text-gray-300 hover:text-gray-100 hover:bg-gray-100/10 hover:shadow-bottom-light;
  }

  .link__active {
    @apply text-fluo-green hover:shadow-bottom-fluo shadow-bottom-fluo hover:bg-fluo-green/10 hover:text-fluo-green;
  }
</style>
