---
import type { Locale } from "../bin/types";
import EventLink from "../components/EventLink.vue";
import UpcomingEvents from "../components/UpcomingEvents.vue";

interface Event {
  date: string;
  time: string;
  place: string;
  town: string;
  link: string;
}

export interface Props {
  upcomingEventsTitle: string;
  noEventsTitle: string;
  pastEventsTitle: string;
  events: Event[];
  locale: Locale;
}

const { upcomingEventsTitle, noEventsTitle, pastEventsTitle, events, locale } =
  Astro.props;
---

<UpcomingEvents
  events={events}
  locale={locale}
  upcomingEventsTitle={upcomingEventsTitle}
  noEventsTitle={noEventsTitle}
  client:load
/>

<div class="mt-6">
  <h2 class="text-2xl">{pastEventsTitle}</h2>

  {events.map((event) => <EventLink event={event} locale={locale} />)}
</div>
